// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
  width: 45%;
  margin-top: 1em;

  h1 {
    font-weight: bold;
  }

  .reviews {
    h3 {
      font-size: 1.25rem;
      font-weight: bold;
    }
    .review {
      display: flex;
      justify-content: space-between;
      margin: 0 1em;
    }
  }

  .new_restaurant {
    margin: 0;
  }
}
